extends layout

block content

  include navbar
  #studentContainer(style="position:relative")

    table.table.table-bordered
      thead
        tr
          th=student.username
          - for(var i =0;i<assignments.length;i++)
            th
              a(href="/home/student/pullAssignment?assignmentName="+assignments[i]+"&student="+student)
                =assignments[i].assignmentName
      tbody
        tr
          td Mastery
          - for(var i =0;i<assignments.length;i++)
            td=assignments[i].mastery
        tr
          td Time Spent
          - for(var i =0;i<assignments.length;i++)
            td=assignments[i].timeSpentOnAssign

block scripts
